#container {
  height: 400px;
  width: 800px;
  font-family: Verdana, sans-serif;
}

.highcharts-background {
  fill: aliceblue;
  stroke: hsl(354, 100%, 89%);
  stroke-width: 1rem;
}

.highcharts-root text {
  font-family: 'Fredoka One', cursive;
}
