.addedItems {
  position: fixed;
  bottom: 0;
  background-color: #00bed9;
  width: 100vw;
  left: 0;
  max-height: 20em;
  border: solid 2px #41403e;
  max-height: 20vh;
}

.addedList {
  max-height: 200;
  overflow: scroll;
}
