#myprofile {
  grid-area: myprofile;
}

#resources {
  grid-area: resources;
}

#eatin {
  grid-area: eatin;
}

#eatout {
  grid-area: eatout;
}

#apptutorial {
  grid-area: apptutorial;
}

#doctor {
  grid-area: img;
  justify-self: center;
}

#calculator {
  grid-area: calculator;
}
