#container {
  height: 400px;
  width: 800px;
  /* font-family: 'Courier New'; */
  font-family: Verdana, sans-serif;
}
body {
  background-color: hsl(171, 61%, 80%);
  font-family: 'Sansita Swashed', cursive;
}

.highcharts-background {
  fill: aliceblue;
  stroke: hsl(354, 100%, 89%);
  stroke-width: 1rem;
}

.highcharts-root text {
  font-family: 'Fredoka One', cursive;
}
